.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}
.ngray{
    cursor: pointer;
    background-color: #211C84;
    padding: 20px 30px 20px 30px;
    border-radius: 60px;

}
.gray{
cursor: pointer;
 background-color: #4D55CC;  
 padding: 20px 30px 20px 30px;
    border-radius: 60px;

}

.navbar{
    margin: 10px;
}
@media(max-width:768px){
    .nav-menu{
    gap: 30px;
    font-size: 20px;
}
}